/* AboutPage.css */
* {
    font-family: 'Poppins', sans-serif;
}

.about-container {
    padding-top: 160px;
    width: 80%;
    margin: auto;
}
.about-container h1 {
    color: white;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
}
.about-title {
    font-size: 2rem;
    font-weight: bold;
    color: #ece8ef; /* This is violet-500 */
}

.italic-text {
    font-style: italic;
}

.about-description {
    width: 70%;
    margin: auto;
    font-size: 24px;
    color: white;
    text-align: center;
}