/* styles.css */

.patient-stream {
  margin-left: 1rem;
  margin-top: 80px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: #1c0827;
}

.video-icon {
  font-size: 40px;
}

.video-and-actions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.video-element {
  width: 740px;
  border-radius: 10px;
  margin: auto;
}

.canvas-element {
  display: none;
}

.actions {
  margin-left: 20px; /* Adjust margin as needed */
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 350px;
  margin-top: 100px;
  justify-content: space-evenly;
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
  background-color: #f8f8f8;
  color: #390f0f;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #8a3ab9;
  color: #ffffff;
}

.section-title {
  font-weight: bold;
  color: #8a3ab9;
}

.emotion-display {
  margin-top: 2rem;
}

.hidden {
  display: none;
}

pre {
  white-space: pre-wrap;
}
